@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

/* navbar css  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 150px;
    color: white;
}

.header h1{
    font-size: 24px;
    color: #F9F8FA;
}

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-container a {
    text-decoration: none;
    color: gray;
}

/* hero css */

.hero{
    padding: 0px 150px;
    display: flex;
    background-color: #1f2937;
    height: 70vh;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero div{
    width: 400px;
}

.herotxt{
    flex: 1;
}

.herotxt h1{
    color: #F9F8FA;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
}

.herotxt p{
    color: #E5E7EB;
    font-size: 18px;
}

.heroimg{
    height: 250px;
    background-color:#7b8188;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    flex: 1;
}

.herotxt button{
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* information section css  */

.information{
    height: 60vh;
    margin-top: 50px;
    background-color: #E5E7EB;
    padding: 0px 150px;
}

.information h1{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-container{
    margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.img-div{
    width: 200px;
}

.img-div p{
    text-align: center;
}

.bluebox{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

/* quote section css  */

.quote-section{
    background-color: #E5E7EB;
    margin-top: 50px;
    height: 60vh;
    /* background: #000; */
    padding: 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.author{
    color: #1f2937;
    font-size: 20px;
    font-weight: 500;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

/* sign up section  */

.signup{
    display: flex;
    padding: 20px 35px;
    justify-content: center;
    align-items: center;
}

.signup-container{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 30px 70px;
    border-radius: 5px;
}


.signup-container p{
    color: white;
}

.bold{
    font-weight: 700;
}

.signup-container button{
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

/* footer section  */

.footer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 10vh;
    color: #E5E7EB;
}